<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tatuajes Anime y Handpoke</title>
    
    <link rel="stylesheet" href="../css/styles.css">
    
    <link rel="stylesheet" href="../css/normalize.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="../../model/js/clientes.models.js"></script>
    <script src="../../controller/js/clientes.controller.js"></script>

</head>

<body>

    <header>
        <h1 class="titulo"> Paulo Yépez <span> Tatuador </span></h1>

    </header>
    <section>
        <div class="contenido-top">
            <h2>Tatuajes y Handpoke</h2>

            <p>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin-filled" width="44"
                    height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z"
                        stroke-width="0" fill="currentColor" />
                </svg>
                Ibarra-Ecuador
            </p>
        </div>

    </section>

    <main class="contenedor-principal">
        <h3>Servicios</h3>

        <div class="servicios">
            <section class="servicio">
                <h3>Diseños de Anime</h3>
                <div class="iconos">

                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum optio officiis reiciendis officia
                    minima sed? Exercitationem, mollitia recusandae id est delectus voluptates ipsum officia odio in
                    quia saepe deserunt consectetur?</p>
            </section>

            <section class="servicio">
                <h3>Handpoke</h3>
                <div class="iconos">

                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis earum dolore repellendus,
                    assumenda voluptatum quod dignissimos ipsam doloribus a! Minima eligendi repellendus laborum odit
                    tempore dolor dolorem nulla. Excepturi, id?</p>
            </section>
            <section class="servicio">
                <h3>Tatuajes con Maquina</h3>
                <div class="iconos">

                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi tempore iure quasi nesciunt sunt ipsa
                    deleniti vel dolorem neque laudantium quae voluptatum nulla voluptate quidem dignissimos, velit
                    corrupti accusantium at.</p>
            </section>

        </div>

    </main>
    <section>
        <h2>Contacto</h2>
        <form class="formulario">
            <fieldset>
                <legend>Contactanos llenando tus datos</legend>
                <div class="contenedor-campos-form">
                    <div class="campo">
                        <label>Nombre</label>
                        <input class="input-text" type="text" placeholder="Tu Nombre">
                    </div>
                    <div class="campo">
                        <label>Teléfono</label>
                        <input class="input-text" type="tel" placeholder="Tu Número">
                    </div>
                    <div class="campo">
                        <label>Correo</label>
                        <input class="input-text" type="email" placeholder="Tu Correo">
                    </div>
                    <div class="campo">
                        <label>Mensaje</label>
                        <textarea class="input-text"></textarea>
                    </div>

                    <div class="alinear-derecha flex">
                        <input class="boton w-sm-100" type="submit" value="Enviar">
                    </div>
                </div>
            </fieldset>
        </form>
    </section>

    <section>
        <div class="contenedor-ultimosusuarios">
            <table class="table table-responsive table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombres</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Mensaje</th>

                    </tr>
                </thead>
                <tbody id="tablaclientes">

                </tbody>

            </table>
        </div>
    </section>


    <footer>
        <p>By Paulo Yépez</p>
    </footer>
</body>

</html>